.comment {
    padding: 5px;
}

.comment-text {
    word-break: break-all
}

.reply-block {
    padding-left: 50px;
    padding-right: 20px;
}

.reply-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}